.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Pipenv
.venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db